/*
 * Overrides both `body` and `nylas-workspace` fonts
 *
 * TODO: Lato is currently loaded from Google Fonts every time, which means no offline support.
 *       Can we package Lato with the theme?
 */
body,
nylas-workspace {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif !important;
}

.flexbox-handle-horizontal {

  div {
    box-shadow: 0.5px 0 0 fade(#000,20%);
    transition: all 0.1s ease-in;
  }

  &:hover div {
    box-shadow: 0.5px 0 0 fade(#000,40%);
  }
}
